# IDE.
# .vscode

# Python.
.venv
__pycache__

# DVC.
services/backendrest/data/.dvc/cache
services/backendrest/data/.dvc/config.local
services/backendrest/data/.dvc/tmp
services/backendrest/data/*.csv
services/backendrest/data/temp/*.csv

# Temp.
services/backendrest/temp/*.csv
